@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Spline Sans', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.glass-panel {
  background: rgba(28, 16, 34, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(173, 43, 238, 0.1);
}
